.canvas-container {
    position: absolute;
    left: 50%;
    top: calc(18% - 80px);
    transform: translateX(-50%);
    z-index: 25;
    pointer-events: auto;
    text-align: center;
}
canvas {
    display: block;
    margin: 0 auto;
    cursor: move;
}

@media (max-width: 600px) {
    .canvas-container {
        top: calc(18% - 60px);
        transform: translateX(-50%) scale(0.7);
    }
}